<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript">
    var a=5;
    var b=6;
    var  c;
    c=a>b;
    alert(c);
    function xian(){
        var x=num1.value;
        var y=num2.value;
        if (x>y){
            alert("x>y")
        }else{
            alert("x<y")
        }


    }

</script>
<body>

<input type="text" id="num1" />
<input type="text " id="num2"/>
<input id="zzz" type="button" onclick="xian()" value="www"/>
<input type="text" id="num3" />
</body>
</html>