<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/menu" target="view">首页</a></li>
    <li><a href="/userInfo/userAdd" target="view">添加用户</a></li>
    <li><a href="/userInfo/userDel" target="view">删除用户</a></li>
    <li><a href="/userInfo/userList" target="view">用户列表</a></li>
    <li><a href="/userInfo/userAddRole" target="view">权限设置</a></li>
    <li><a href="/uploadFile" target="view">上传头像</a></li>
    <li><a href="/webSocket" target="view">消息推送1</a></li>
    <li><a href="/wsWebSocket" target="view">消息推送2</a></li>
    <li><a href="/userInfo/count" target="view">在线人数</a></li>
    <li><a href="/util/preTwoDimension" target="view">二维码制作小工具</a></li>


</ul>

</body>
</html>