<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style>
    div{
        position:absolute;
        top:30%;
        bottom:30%;
        left: 30%;
        right: 30%;
        border:1px solid forestgreen;
        color: black;
    }

</style>
<body>
<div>
    <center>
    <form action="userDel" method="post">
        <p > 请输入要删除的账号：<input type="text" name="username"  align="center" size="12"/></p>
        <p > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="确认删除"  /> </p>

    </form>
    </center>
</div>
</body>
</html>