<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div>
        <form action="userEdit" method="post">
        <thread>
        <tr>
            <td>序号</td>
            <td>账号</td>
            <td>用户名</td>
            <td>密码</td>
            <td>salt</td>
            <td>state</td>
        </tr>
            <br />
        <tr>
            <td ><input type="text" name="uid" th:value="${user2.uid}" readonly="true"/></td>
            <td><input type="text" name="username" th:value="${user2.username}" readonly="true"/></td>
            <td><input type="text" name="name" /></td>
            <td><input type="text" name="password" required="true"/></td>
            <td><input type="text" name="salt"/></td>
            <td><input type="text" name="state"/></td>
        </tr>
            <br/>
            <tr><input type="submit" value="提交"/></tr>
        </thread>
        </form>
    </div>
</body>
</html>